<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">

    <title>JOB API</title>
</head>

<body>
    <div class="header">
        <div class="logo"></div>
        <!-- <div class="btn-container">
            <button id="info-btn"><span>name</span></button>
            <div class="dropdown"><button id="logout-btn">logout</button></div>
        </div> -->
    </div>
    <div class="container">
        <div class="auth">
            <div class="title">
                <p>LOGIN</p>
            </div>
            <form id="auth-form">
                <input id="email" type="email" placeholder="Email">
                <input id="password" type="password" placeholder="Password">
                <input id="auth-btn" data-op="login" type="submit">
            </form>
        </div>

        <div id="discription">
            <a href="./register">REGISTER</a>
        </div>

    </div>
    <script src="./js/auth.js"></script>
    <!-- <script src="./js/interaction.js"></script> -->
</body>

</html>